<!--p>welcome works!</p-->
<div class="container bg-light py-5">
    <h2 class="display-5 fw-bold">Welcome to OnTA</h2>
    <p class="col-md-8 fs-4">This test will contains some question. Each question has a value of 5 points. On the other hand you lost 10 points by wrong answer.</p> 
    <h3>Rules:</h3>
    <ul>
        <li>Time limited for answering the question</li>
        <li>5 points for correct answer</li>
        <li class="text-danger">-10 points for wrong answer</li>
        <li></li>
        <li class="text-warning">Don't refresh the page!</li>
        <li class="text-warning">Don't click the back button!</li>
    </ul> 
    <h1>Good work!</h1>
    <div class="name col-md-4 my-3">
        <label for="">Your name:</label>
        <input #username type="text" class="form-control">
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startTest()">Start the test!</button>
</div>